body {
    width: 100%;
    margin: 0;
    padding: 0;
} 
main {
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    min-height: calc(100vh - 120px);
    background-color: #FFFFFF;
}
html{
    margin:0px !important;
    padding:0px !important ;
}

.nav_menu a, .footer_menu a {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}
.nav_menu ul, .footer_menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item-text a {
    /* Supprime le soulignement et change la couleur */
    text-decoration: none;
    color: inherit; /* Utilise la couleur du texte normal du footer */
    cursor: default; /* Change le curseur pour montrer que ce n'est pas un lien */
    pointer-events: none; /* Empêche tout clic sur l'élément <a> */
}
.site_header {
    width: 100%;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.nav_logo {
    width: 20%;
    padding-left: 50px;
} 
.nav_menu {
    width: 30%;
    padding-right: 50px;
}

.footer_content {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}
.footer_menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vide, .a-propos-main{
    width:90%;
    margin:75px;
    margin-top:50px;
    min-height:500px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
  
    header, h2, h1{
      text-transform: uppercase;
    }
}
/* Fond sombre couvrant tout l’écran POUR LES OVERLAYS MODALE CONTACT + LIGHTBOX */
.lightbox-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* noir transparent */
    z-index: 1000;           /* Sous la lightbox */
}
  
  /* Empêcher le scroll du body lors de l’ouverture */
body.no-scroll {
    overflow: hidden;
}
.visible{
    display: flex !important;
    opacity: 1 !important;
}
/*Modale de contact*/
.modale-contact{
    width: 597px;
    height: 769px;
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;             /* Centre verticalement */
    left: 50%;            /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Décale pour centrage exact */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
  
    border: solid 5px #000000;
  }
  .modale-contact.visible {
    opacity: 1;
    pointer-events: auto;
    z-index:1001;
  }
  .modale-content{
    width: 100%;
    max-width: 885px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  
    .wpcf7-form{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding-bottom:30px;
  
      /*p{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }*/
      span{
        width: 263px;
        display: block;
      }
      label{
        align-self: flex-start;
        text-transform: uppercase;
      }
    }
  }
  input{
    height: 40px;
    width: 100%;
    border: solid 1px #B8BBC2;
    border-radius: 8px;
    /*padding-left: 10px;*/
  }
  textarea{
    width: 100%;
    border: solid 1px #B8BBC2;
    border-radius: 8px;
    height: 210px;
    text-align: left;
  }
  .wpcf7-submit{
    width: 100%;
    height: 52px;
    background-color: #D8D8D8;
    color: #000000;
    font-family: 'SpaceMono-Regular', monospace;
    font-weight: 400;
    font-size: 12px;
    /*text-transform: uppercase;*/
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  .modale-content .titre{
      font-family: 'SpaceMono-Italic', monospace;
      font-weight: 200;
      font-size: 69px;
      text-transform: uppercase;
      height:106px;
      margin:0px;
      line-height: 59px;
      padding-top:10px;
  
      .repeat5{
        display: block; 
        margin-left: 0px; 
      }
  
      .repeat7{
        display: block;
        margin-left: 50px; 
      }
  }
  .wpcf7{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }